/* Main Information */

#home_info{
   width: 80%;
   margin: auto;
   color: white;
   font-family: 'Nunito', sans-serif;
   font-size: 18px;
   text-align: justify;
}

/* End Main Information */

/* Appointment Form */

/* End Appointment Form */


/* Responsive Design */

@media only screen and (min-width:1900px) {
   #home_info{
      font-size: 20px;
   }
}

/* End Responsive Design */