/* Our Services */

#services_title{
   width: 80%;
   margin: auto;
   font-family: 'Nunito', sans-serif;
   font-size: 34px;
   color: white;
}

#services_content{
   width: 80%;
   margin: auto;
   font-family: 'Nunito', sans-serif;
   font-size: 17px;
   color: white;
   text-align: justify;
}

/* Responsive Design */

@media only screen and (min-width:1900px) {
   #services_content{
      font-size: 20px;
   }
}

/* End Responsive Design */